<div>
    <h2 id="page-heading">
        <span jhiTranslate="ecoplanApp.actividades.home.title">Actividades</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-actividades" [routerLink]="['/actividades/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ecoplanApp.actividades.home.createLabel">
            Create a new Actividades
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="actividades?.length === 0">
        <span jhiTranslate="ecoplanApp.actividades.home.notFound">No actividades found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="actividades?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="ecoplanApp.actividades.codigo">Codigo</span></th>
                    <th scope="col" ><span jhiTranslate="ecoplanApp.actividades.nombre">Nombre</span></th>
                    <th scope="col" ><span jhiTranslate="ecoplanApp.actividades.fecInicio">Fec Inicio</span></th>
                    <th scope="col" ><span jhiTranslate="ecoplanApp.actividades.fecFin">Fec Fin</span></th>
                    <th scope="col" ><span jhiTranslate="ecoplanApp.actividades.conProveedor">Con Proveedor</span></th>
                    <th scope="col" ><span jhiTranslate="ecoplanApp.actividades.estado">Estado</span></th>
                    <th scope="col" ><span jhiTranslate="ecoplanApp.actividades.tipo">Tipo</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let actividades of actividades ;trackBy: trackId">
                    <td><a [routerLink]="['/actividades', actividades.id, 'view']">{{ actividades.id }}</a></td>
                    <td>{{ actividades.codigo }}</td>
                    <td>{{ actividades.nombre }}</td>
                    <td>{{ actividades.fecInicio | date:'medium' }}</td>
                    <td>{{ actividades.fecFin | date:'medium' }}</td>
                    <td>{{ actividades.conProveedor }}</td>
                    <td>
                        <div *ngIf="actividades.estado">
                            <a [routerLink]="['/estado', actividades.estado?.id, 'view']" >{{ actividades.estado?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="actividades.tipo">
                            <a [routerLink]="['/tipo-actividad', actividades.tipo?.id, 'view']" >{{ actividades.tipo?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/actividades', actividades.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/actividades', actividades.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(actividades)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
