<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="proyecto">
            <h2><span jhiTranslate="ecoplanApp.proyecto.detail.title">Proyecto</span> {{ proyecto.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecoplanApp.proyecto.codigoProyecto">Codigo Proyecto</span></dt>
                <dd>
                    <span>{{ proyecto.codigoProyecto }}</span>
                </dd>
                <dt><span jhiTranslate="ecoplanApp.proyecto.nombre">Nombre</span></dt>
                <dd>
                    <span>{{ proyecto.nombre }}</span>
                </dd>
                <dt><span jhiTranslate="ecoplanApp.proyecto.empresa">Empresa</span></dt>
                <dd>
                    <div *ngIf="proyecto.empresa">
                        <a [routerLink]="['/empresa', proyecto.empresa?.id, 'view']">{{ proyecto.empresa?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ecoplanApp.proyecto.tipoProyecto">Tipo Proyecto</span></dt>
                <dd>
                    <div *ngIf="proyecto.tipoProyecto">
                        <a [routerLink]="['/tipo-proyecto', proyecto.tipoProyecto?.id, 'view']">{{ proyecto.tipoProyecto?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ecoplanApp.proyecto.estado">Estado</span></dt>
                <dd>
                    <div *ngIf="proyecto.estado">
                        <a [routerLink]="['/estado', proyecto.estado?.id, 'view']">{{ proyecto.estado?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/proyecto', proyecto.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
